
div#background_top {
	position: absolute;
	padding-top: 100px;
	height: 180px;
	width: 101%;
	background: repeat url("../images/bgtile.png");
	z-index: -1;	
}

section#main {
	width: 900px ;
	margin: auto;
	padding-top: 83px;

}

img#phones {
	float: left;
}

div#main_right_column {
	width: 500px;
	display: inline-block;
	margin-left: 50px;
}
div#top_right_column {
	height: 78px;
}

#brand {
}

button#home.button {
	display: inline;
	font-family: "Hind Vadodara", sans-serif;
	font-weight: 600;
	color: #DFE8F0;
	background: linear-gradient(to bottom, #6E92B0, #487398);
	margin-top: 10px;
	margin-right: 5px;
	padding: 8px;
	border-radius: 3px;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, .4);
	vertical-align: top;
	letter-spacing: 0;
	border: 1px solid #4A7194;
	float: right;

}
button#home.button span::before {
	content: url("../images/home.png");
	padding-right: 10px;
	vertical-align: text-bottom;
}

div#white_img_frame {
	background: no-repeat url("../images/frame.png");
	background-size: inherit; 
}

div#frame_content {
	margin: 20px 20px 0;
	padding: 30px 30px 0;
	font-family: "Hind Vadodara", sans-serif;

}

h1 {
	font-family: "Hind Vadodara", sans-serif;
	color: #113A5F;
	font-size: 2.0em;
	margin: 0;
}

p {
	font-size: 1.0em;
	line-height: 1.5;
	margin: 10px 0;
	padding-top: 5px
}

section#background {
	width: 100%;
} 

.badge {
	padding: 25px 10px;
}

section#footer {
	clear: both;
	font-family: "Hind Vadodara", sans-serif;
	font-weight: 600;
	font-size: .80em;
	padding-top: 20px;
	text-align: center;
}

#footer_content {
	list-style: none;
}

#footer_content li {
	display: inline-block;
	padding: 10px 8px;
	color: #4980A9;
}

li#copyright {
	color: #A8A9A8;
}